{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
    {% block stylesheets %} <link rel="stylesheet" href="{{asset('css/login.css')}}"> {% endblock %}

{% block body %}
    <div class="d-none">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me">Se souvenir de moi
                </label>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </form>
    </div>
    <div class="container">

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 111.226 30.452" enable-background="new 0 0 111.226 30.452" xml:space="preserve">
<path fill="none" d="M-41.743,69.114c0,0,12.424-53.092,93.014-53.092c80.59,0,98.051,53.092,98.051,53.092"/>
<text transform="matrix(0.8325 -0.554 0.554 0.8325 -15.5891 34.161)"><tspan x="0" y="0" fill="#797979" font-family="'Amarillo'" font-size="10.0737px"> </tspan><tspan x="4.909" y="-0.003" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="3.401"> </tspan><tspan x="9.811" y="0.286" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="6.655"> </tspan><tspan x="14.691" y="0.853" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="9.753"> </tspan><tspan x="19.534" y="1.684" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="12.69"> </tspan><tspan x="24.289" y="2.546" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="17.814">D</tspan><tspan x="37.428" y="6.97" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="22.05">r</tspan><tspan x="40.675" y="8.242" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="24.461">a</tspan><tspan x="47.25" y="11.238" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="27.346">g</tspan><tspan x="53.279" y="14.376" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="29.573"> </tspan><tspan x="57.619" y="16.814" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="31.726">a</tspan><tspan x="63.778" y="20.597" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="34.397">n</tspan><tspan x="69.459" y="24.437" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="36.45">d</tspan><tspan x="75.936" y="29.256" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="38.774"> </tspan><tspan x="79.823" y="32.25" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="41.964">L</tspan><tspan x="88.351" y="40.036" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="45.588">e</tspan><tspan x="92.23" y="43.956" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="48.523">a</tspan><tspan x="97.005" y="49.417" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="51.146">r</tspan><tspan x="99.207" y="52.084" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="53.795">n</tspan></text>
<path d="M-89.21,586.71"/>
<path fill="none" d="M-41.904,68.501c0,0,12.424-53.092,93.014-53.092c80.59,0,98.051,53.092,98.051,53.092"/>
<text transform="matrix(0.8325 -0.554 0.554 0.8325 -15.7504 33.5481)"><tspan x="0" y="0" font-family="'Amarillo'" font-size="10.0737px"> </tspan><tspan x="4.909" y="-0.003" font-family="'Amarillo'" font-size="10.0737px" rotate="3.401"> </tspan><tspan x="9.811" y="0.286" font-family="'Amarillo'" font-size="10.0737px" rotate="6.655"> </tspan><tspan x="14.691" y="0.853" font-family="'Amarillo'" font-size="10.0737px" rotate="9.753"> </tspan><tspan x="19.534" y="1.684" font-family="'Amarillo'" font-size="10.0737px" rotate="12.69"> </tspan><tspan x="24.289" y="2.546" font-family="'Amarillo'" font-size="10.0737px" rotate="17.814">D</tspan><tspan x="37.428" y="6.97" font-family="'Amarillo'" font-size="10.0737px" rotate="22.05">r</tspan><tspan x="40.675" y="8.242" font-family="'Amarillo'" font-size="10.0737px" rotate="24.461">a</tspan><tspan x="47.25" y="11.238" font-family="'Amarillo'" font-size="10.0737px" rotate="27.346">g</tspan><tspan x="53.279" y="14.376" font-family="'Amarillo'" font-size="10.0737px" rotate="29.573"> </tspan><tspan x="57.619" y="16.814" font-family="'Amarillo'" font-size="10.0737px" rotate="31.726">a</tspan><tspan x="63.778" y="20.597" font-family="'Amarillo'" font-size="10.0737px" rotate="34.397">n</tspan><tspan x="69.459" y="24.437" font-family="'Amarillo'" font-size="10.0737px" rotate="36.45">d</tspan><tspan x="75.936" y="29.256" font-family="'Amarillo'" font-size="10.0737px" rotate="38.774"> </tspan><tspan x="79.823" y="32.25" font-family="'Amarillo'" font-size="10.0737px" rotate="41.964">L</tspan><tspan x="88.351" y="40.036" font-family="'Amarillo'" font-size="10.0737px" rotate="45.588">e</tspan><tspan x="92.23" y="43.956" font-family="'Amarillo'" font-size="10.0737px" rotate="48.523">a</tspan><tspan x="97.005" y="49.417" font-family="'Amarillo'" font-size="10.0737px" rotate="51.146">r</tspan><tspan x="99.207" y="52.084" font-family="'Amarillo'" font-size="10.0737px" rotate="53.795">n</tspan></text>
</svg>


    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 border_custom_1">
                <div class="part_one">
                    <div class="">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Pseudo">
                            </div>
                            <div class="form-group">                        
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">                        
                                <input type="password" class="form-control" placeholder="Mot de passe">
                            </div>
                            <div class="form-group">                        
                                <input type="password" class="form-control" placeholder="Repeter le mot de passe">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-secondary">S'inscrire</button>
                            </div>
                        </form>
                    </div>
                </div>                                   
            </div>
            <div class="col-12 col-md-6 ">
                <div class="part_two">
                    <div class="justify-content-center">
                        <iframe class="video_player" width="550" height="300" src="https://www.youtube.com/embed/wYT1Qq6mo4I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="text-center bg_light_custom">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laboriosam, eaque hic numquam, voluptate veritatis soluta enim id assumenda, asperiores maiores, commodi quis quae. Earum architecto, sapiente quae autem veniam.</p>
                    </div>
                </div>                
            </div>

        </div>
    </div>
{% endblock %}
