{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/profile/profile.css') }}">{% endblock %}



{% block body %}
<h2 class="text-center">Mon profil</h2>


<div class="container-fluid">

    {# grosse row principale #}
    <div class="row" id="bigRow">

        {# colonne trophés #}
        <div class="col-12 col-md-8" id="gain">

            {# user #}
            <div class="row" id="userTitle">
                <h3>
                 <img src="{{ asset('uploads/image/avatar/' ~ user.avatar) }}" class="w-25">
                    <span id="userName">{{ user.username }}</span>
                    <i class="fas fa-pen"></i>
                </h3>
            </div>

            {# trophées #}
            <div class="row">
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
            </div>

            <h3 id="perf">Performances</h3>



        </div>

        {# colonne formulaire modif #}
        <div class="col-12 col-md-4">

            <div class="row" id="modifTitle">
                <h3 class="m-auto">Modifier son profil</h3>
            </div>

            <form method="" action="">

                <div class="form-group w-50 m-auto">
                    <label>Mot de passe actuel</label>
                    <input type="password" name="mdpActu" class="form-control">
                </div>

                <div class="form-group w-50 m-auto">
                    <label>Nouveau mot de passe</label>
                    <input type="password" name="newMdp" class="form-control">
                </div>

                <div class="form-group w-50 m-auto">
                    <label>Répéter mot de passe</label>
                    <input type="password" name="newMdp2" class="form-control">
                </div>

                <div class="text-center my-4">
                   <button class="balise border border-balise btn btn-dark" type="submit">Modifier</button>
                </div>


            </form>
            <hr>


            <div id="theme" class="text-center">
                <h3>Thème couleur</h3>

                <div class="row justify-content-center mx-3">
                    {% for choice in theme %}
                        <div class="d-flex flex-column mx-3">
                          <div id="choice" class="bg-{{ choice.color }} my-3"></div>
                          <input type="radio" class="m-auto">
                        </div>
                    {% endfor %}
                </div>
            </div>





        </div>

    </div>

</div>
{% endblock %}

