{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/reset_mdp.css') }}">{% endblock %}
 
{% block title %}Reset mot de passe{% endblock %}

{% block progressBar %}

{% endblock %}
 
{% block body %}

        <div class="container">
            <form method="post">

                <h1 class="h3 my-4 mb-3 font-weight-normal">Reset mot de passe </h1>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="hidden" name="token" value="{token}">

                <button id="bouton_type" class="btn my-4 border btn-lg btn-dark" type="submit">
                    Changer le mot de passe
                </button>
            </form>
        </div>



{% endblock %}