{% extends 'base.html.twig' %}

{% block title %}
Classement
{% endblock %}

{% block progressBar %}
{% endblock %}

{% block body %}
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<h3 class="text-center">Niveau 1</h3>
				<table class="table table-striped">
				<thead>
					<tr>
						<th class="text-center" scope="col">Exercice</th>
						<th class="text-center" scope="row">Pseudo</th>
						<th class="text-center" scope="col">Temps</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>1</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>2</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>3</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>4</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>5</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>6</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>7</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>8</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>9</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>10</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
				</tbody>
				</table>
		</div>
		<div class="col-12 col-md-4">
			<h3 class="text-center">Niveau 2</h3>
				<table class="table table-striped">
				<thead>
					<tr class="text-center">
						<th class="text-center"scope="col">Exercice</th>
						<th class="text-center" scope="row">Pseudo</th>
						<th class="text-center" scope="col">Temps</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>1</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>2</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>3</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>4</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>5</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>6</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>7</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>8</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>9</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>10</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
				</tbody>
				</table>
		</div>
		<div class="col-12 col-md-4">
			<h3 class="text-center">Niveau 3</h3>
				<table class="table table-striped">
				<thead>
					<tr class="text-center">
						<th class="text-center" scope="col">Exercice</th>
						<th class="text-center" scope="row">Pseudo</th>
						<th class="text-center" scope="col">Temps</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>1</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>2</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>3</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>4</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>5</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>6</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>7</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>8</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>9</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
					<tr class="text-center">
						<td>10</td>
						<td>kiki</td>
						<td>00:02:30</td>
					</tr>
				</tbody>
				</table>
		</div>

	</div>
</div>
<br>
<br>
{% endblock %}
