body{
    background-image: url('/uploads/image/background_general.png');
    background-size: cover;
}

.trophy{
    width: 110px;
    height: 110px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: auto;
}

#bigRow{
    margin-top: 1%;
    margin-bottom: 5%;
}

#userTitle{
    margin-left: 2%;
    margin-bottom: 6%;
}

#gain{
    border-right: 1px solid #6c757d;
}

#modifTitle{
    margin-top: 10%;
    margin-bottom: 17%;
}

.balise {
    color: #ff7242;
}

.choice{
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
}

#perf{
    margin-top: 8%;
    margin-left: 16%;
    margin-bottom: 6%;
}

#userName{
    font-size: 50px;
    padding-left: 30px;
    padding-right: 20px;
}

#avatar{
    width: 15%;
    height: 100%;
    cursor: pointer;
}

#newUsername{
    font-size: 50px;
}
#theme {
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 30px;
}
.color {
    width: 75px;
    height: 75px;
    border: 3px solid lightgrey;
    border-radius: 15px;
}
.color:hover {
    width: 75px;
    height: 75px;
    border: 5px solid lightgrey;
    border-radius: 15px;

}
.form_choice {
    display: flex;
    justify-content: center;
    align-items: center;
}