<table>
    <thead>
    <tr class="border-bottom border-dark text-center">
        <th>Libelle</th>
        <th>Modifier</th>
    </tr>
    </thead>
    <tbody>
    {% for exercice in exercices %}

        <tr class="border-bottom border-dark text-center">
            <td>{{ exercice.libelle }}</td>
            <td class="update2" data-id="{{ exercice.id }}"><i class="fas fa-edit"></i></td>
        </tr>

    {% endfor %}
    </tbody>
</table>