<form>
    <h2 class="text-center my-3">Entrer un exercice</h2>
    <div class="form-group d-flex justify-content-center my-5">
        <input type="text" id="search2" class="form-control">
    </div>
</form>