{#TODO : barre de recherche + boutton + div caché avec all user + bouton mouton modifier + ajax pour apparaition form prerempli#}

<form>
    <h2 class="text-center my-3">Entrer un utilisateur</h2>
    <div class="form-group d-flex justify-content-center my-5">
        <input type="text" id="search" class="form-control">
    </div>
</form>



