{#TODO : barre de recherche + boutton + div caché avec all user + bouton mouton modifier + ajax pour apparaition form prerempli#}

<form>
    <div class="form-group d-flex justify-content-center my-5">
        <input type="text" id="search" class="form-control">
        <button id="showAll" class="btn btn-info">Afficher tout</button>
    </div>
</form>



