.panel{
    list-style: none;
    width: 30%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    border: 2px solid lightgrey;
}
.panel li{
    cursor: pointer;
    font-weight: bolder;
}
.main {
    height: 90vh;
}
#search {
    width: 23%;
}
#result1 {
    margin: 0 auto;
}
#result2{
    display: flex;
}
#result2_1 {
    width: 50%;
}
#result2_2 {
    width: 50%;
}

/*TABLE*/
table{
    width: 70%;
    margin: 0 auto;
}
td{
    padding: 2%;
}
.fa-edit{
    cursor: pointer;
}

/*FORM*/
.avatar{
    width: 10%;
    background: grey;
    border-radius: 50%;
}