.panel{
    list-style: none;
    width: 30%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    border: 2px solid lightgrey;
}
.panel li{
    cursor: pointer;
    font-weight: bolder;
}
.main {
    height: 90vh;
}
#search {
    width: 23%;
}
#result1 {
    margin: 0 auto;
}
#result2 {
    margin: 0 auto;
    width: 50%;
}