.panel{
    list-style: none;
    width: 30%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    border: 2px solid lightgrey;
}
.panel li{
    cursor: pointer;
    font-weight: bolder;
}
.main {
    height: 90vh;
}
#search {
    width: 23%;
}
#search2 {
    width: 23%;
}
#result1 {
    margin: 0 auto;
}
#result2{
    display: flex;
}
#result2_1 {
    width: 50%;
}
#result2_2 {
    width: 50%;
}

/*TABLE*/
table{
    width: 70%;
    margin: 0 auto;
}
td{
    padding: 2%;
    width: 25%;
}
.fa-edit{
    cursor: pointer;
}
.fa-trash{
    cursor: pointer;
}

/*FORM*/
.avatar_update{
    width: 10%;
    background: grey;
    border-radius: 50%;
}
.avatar_table{
    width: 21%;
    background: grey;
    border-radius: 50%;
}

/*Admin_General*/
#theme {
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 30px;
}
.color {
    width: 75px;
    height: 75px;
    border: 3px solid lightgrey;
    border-radius: 15px;
}
.color:hover {
    width: 75px;
    height: 75px;
    border: 5px solid lightgrey;
    border-radius: 15px;
}
.form_choice {
    display: inline-grid;
}