#siteName{
    font-size: 2em;
    font-family: "Amarillo", Helvetica, Arial, sans-serif;
}

body{
    font-family: "Arvo", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lobster", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "Amarillo";
    src: url('../font/Amarillo.ttf');
}

@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v10/tDbD2oWUg0MKqScQ7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

footer ul{
	list-style: none;
	padding-top: 5%;
}
.fa-facebook-square{
	color: white;
	font-size: 2rem;
}
.fa-twitter-square{
	color: white;
	font-size: 2rem;
}

.progress {
    width: 50%;
}

.hide{
    display: none;
}

img.rounded-circle.z-depth-0 {
    width: 4em;
    height: 4em;
}

i.fas.fa-trophy {
    color: gold;
}
.footer_menu:hover{
 color:white;
}

.dropdown-item_custom:hover, .dropdown-item_custom:focus {
    color: black;
    text-decoration: none;
    background-color: #f8f9fa;
}
.dropdown-item_custom {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.balise {
    color: #ff7242;
}

li#soundLi {
    margin-right: 10px;
    margin-left: -24px;
    width: 30px;
}

.footCol{
    border-left: 1px solid #ff7242;
    border-right: 1px solid #ff7242;
}

#avatarMenu{
    cursor: pointer;
}