h1, h2{
    text-align: center;
    width: 100%;
}
i.fab.fa-html5 {
    font-size: 7em;
    color: orangered;
    background: transparent;
}
i.fab.fa-css3-alt {
    font-size: 7em;
    color: #007bff;
    background: transparent;
}
i.fab.fa-js-square {
    font-size: 7em;
    color: #e8e853;
    background: transparent;
}
.code-name {
    border-right: 1px solid black;
    height: 40vh;
}
.swiper-container {
    width: 100%;
    height: 30vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-color: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.gif-slide {
    border: 1px solid black;
    padding: 65px 85px;
    background: darkgrey;
    opacity: 0.8;
    color: white;
}
.level{
    height: 40vh;
}
/*.levelChoice {*/
    /*margin-top: 50px;*/
/*}*/
body{
    background: url('../uploads/image/background_general.png') ;
    background-size: cover;
}