body{
	background-image: url('../img/background_codev2.png');

}
div h1{
	margin-bottom: 10%;
	margin-top: 5%;
	font-family: "Amarillo", Helvetica, Arial, sans-serif;
}
.part_one{
	margin-top: 5%;
	margin-right:20%;
}
.part_two{
	margin-top:5%;
	margin-left: 20%;
	font-weight: 600;
	
}
.video_player{
	margin-bottom: 5%;
}
@font-face {
	font-family: "Amarillo";
	src: url('../font/Amarillo.ttf');
}
.border_custom_1{
	border-right:2px solid #6d6c6c;
}
.bg_light_custom{
	background: #ffffff70;
	margin-left: 30%;
	padding: 1%;
}
.container_perso_1{
	width: 40%;
}

#loginContainer{
	width: 1280px;
}

@media (min-width: 1200px)
.container {
    max-width: 1280px !important
}
.opacity_custom{
	background: #ffffff70;
	padding: 1%;
	box-shadow: 4px 5px 9px 2px #7b767685;
}
.account_log{
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 2%;
	padding-right: 2%;
}