{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/admin.css') }}">{% endblock %}
{% block title %}Hello AdminController!{% endblock %}

{# Header modifié car pas besoin de la navbar pour l'admin #}
{% block header %}
    <header>
        <!--Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pt-3" id="navbarSupportedContent-333">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a id="siteName" class="nav-link" href="#">Drag & Learn
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item avatar">
                        <a class="nav-link p-0" href="#">
                            <img src="{{ asset('uploads/image/avatar/default.png') }}" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="#">Profil</a>
                            <a class="dropdown-item" href="#">Classement</a>
                            <a class="dropdown-item" href="#">Deconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}


{% block body %}
<main class="main">
    <h1 class="text-center py-3">Panel administratif</h1>

    <ul class="panel justify-content-around bg-dark text-light">
        <li id="user" class="py-3">Utilisateur</li>
        <li id="exercice" class="py-3">Exercice</li>
        <li id="class" class="py-3">Classement</li>
        <li id="general" class="py-3">Admin. général</li>
    </ul>

    <div id="main-change d-flex justify-content-center">
        <div id="result1"></div>
        <div id="result2"></div>
    </div>

</main>
{% endblock %}

{% block javascripts %}
    <script>

        $("#user").on('click', function(e){
            e.preventDefault();
           $.ajax({
               type:'get',
               url: '{{ path('ajaxUser') }}',
               dataType: 'html',
               success: function(data){
                   $('#result1').html(data);
               }
           })

        })

        $(".main").keydown('#search', function(){

            let search = ($('#search').val());

            $.ajax({
                type: 'POST',
                url: '{{ path('ajaxUserSearch') }}',
                data: 'search='+search,
                timeout: 8000,
                dataType: 'html',
                success : function(data){
                    $('#result2').html(data)
                },
                error : function(error){
                    console.log(error)
                }
            });

        })

    </script>
{% endblock %}
