.propCss{
    color : #61e9ff;
}

.ml-8{
    margin-left: 15rem;
}

.ml-9{
    margin-left: 18rem;
}

.droppable{
    width: 35%;
    height: 3rem;
}

#dragdrop {
    min-height: max-content;
    height: 330%;
}

#success17{
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    color:black;
    width: 10rem;
}

.solution1, .solution2, .solution3, .solution4, .solution5{
    display: none;
}