#droppable6 {
	
	 width: 50%;
    height: 6rem;
}

#droppable5{
	width: 40%;
	height: 2rem;
}
#droppable3 {
	width: 50%;
	height: 6rem;
}
 #droppable8 {
	width: 40%;
	height: 4rem;
}
#droppable1, #droppable2{
	width: 40%;
	height: 3rem;
}