.hide{
    display: none;
}

#droppable7{
    width: 50%;
    height: 6rem;
}
#droppable8{
    width: 50%;
    height: 6rem;
}
#droppable6{
    width: 50%;
    height: 6rem;
}

.quote-color{
    color: green; 
}
#dragdrop {
    height: 120%;
}
