{% extends 'exercice/html.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/1/n1e3.css') }}">{% endblock %}

{% block lecons %}
    <ul class="text-white">
    <br>
        <li>L'élément  <span class="balise">&lt;a&gt;</span> permet de créer des liens vers d'autres pages du site ou d'autres sites, il a besoin d'un attribut <span class="balise">href</span> dans lequel on mettra le lien de la page vers laquelle on souhaite rediriger l'utilisateur.Il sert aussi pour envoyer un email(<span class="balise">"mailto:"</span>) ou un numéro de téléphone(<span class="balise">"tel:"</span>).
        </li>
    <br>
       <li>L'élément HTML <span class="balise">&lt;button&gt;</span>  de type <span class="balise">"button"</span> permet la création d'un élément  de contrôle interactif qui peut être utilisé dans le document ou dans un formulaire.
        
       </li>
    
    </ul>
    
{% endblock %}


{% block elements %}
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->
    <div class="draggable text-center" data-id="7" id="draggable7">
    <span class="balise">&lt;br&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="3" id="draggable3">
    <span class="balise">&lt;a href="mailto:drag@learn.com"&gt;</span>Envoyer un mail<span class="balise">&lt;/a&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="4" id="draggable4">
    <span class="balise">&lt;br&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="2" id="draggable2">
    <span class="balise">&lt;p&gt;</span>Vous pouvez me joindre :<span class="balise">&lt;/p&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="8" id="draggable8">
    <span class="balise">&lt;button type="button"&gt;</span>Envoyer
    <span class="balise">&lt;/button&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="5" id="draggable5">
    <span class="balise">&lt;a href="tel:+123456789"&gt;</span>Telephone<span class="balise">&lt;/a&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="6"  id="draggable6">
    <span class="balise">&lt;a href="https://developer.mozilla.org/fr/docs/Web/HTTP"&gt;</span>Lien vers mon site<span
    class="balise">&lt;/a&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="1" id="draggable1">
    <span class="balise">&lt;h1&gt;</span>Page de contact<span
    class="balise">&lt;/h1&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="9" id="draggable9">
    <span class="balise">&lt;button type="bouton"&gt;</span>Envoyer
    <span class="balise">&lt;/button&gt;</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="10" id="draggable10">
        <span class="balise">&lt;a href:"google.com"&gt;</span>Lien vers mon site</span class="balise">&lt;/a&gt;</span>
    </div>
{% endblock %}

{% block code %}
<p class="text-white">&lt;!DOCTYPE html&gt;</p>
<!--Devra etre généré si possible en php depuis la BDD des exercice-->

{# HTML #}
<div>
    <span class="balise">&lt;html&gt;</span>
</div>

{# HEAD #}
<div>
    <span class="balise">&lt;head&gt;</span>
</div>

{# TITRE #}
<div class="pl-4 text-white">
    <span class="balise">&lt;title&gt;</span>Exercice 3
    <span class="balise">&lt;/title&gt;</span>
</div>

{# /HEAD #}
<div>
    <span class="balise">&lt;/head&gt;</span>
</div>

{# BODY #}
<div class="solution1 hide ml-3">
    <span class="balise">&lt;body&gt;</span>
</div>

{# DIV #}
<div class="solution1 hide ml-5">
    <span class="balise">&lt;div&gt;</span>
</div>

{# PAGE DE CONTACT #}
<div class="droppable text-center ml-4" id="droppable1">
</div>
<div class="solution1 hide ml-7">
      <span class="balise">&lt;h1&gt;</span>Page de contact<span
        class="balise">&lt;/h1&gt;</span>
</div>


{# <p> VOUS POUVEZ ME JOINDRE #}
<div class="droppable ml-4" id="droppable2">
</div>
    <div class="solution2 hide ml-6">
      <span class="balise">&lt;p&gt;</span>Vous pouvez me joindre :<span class="balise">&lt;/p&gt;</span>
    </div>

{# MAIl #}
<div class="droppable ml-6" id="droppable3">  
</div>
<div class="solution2 hide ml-6">
    <span class="balise">&lt;a href="mailto:drag@learn.com"&gt;</span>Envoyer un mail<span class="balise">&lt;/a&gt;</span>
</div>

{# BR #}
<div class="droppable my-3" id="droppable4">  
</div>
<div class="solution2 hide">
    <span class="balise">&lt;br&gt;</span>
</div>

{# TELEPHONE #}
<div class="droppable ml-6" id="droppable5">
</div>
<div class="solution2 hide ml-6"> 
    <span class="balise">&lt;a href="tel:+123456789"&gt;</span>Telephone<span class="balise">&lt;/a&gt;</span>
</div>


{# BR #}
<div class="droppable my-3" id="droppable7">
</div>
<div class="solution3 hide my-3">
    <span class="balise">&lt;br&gt;</span>
</div>

{# HR #}
<div class="solution3 hide">
    <span class="balise">&lt;hr&gt;</span>
</div>

{# MON SITE #}
<div class="droppable ml-6" id="droppable6"> 
</div>
<div class="solution4 hide ml-6 text-white">
    <span class="balise">&lt;a href="https://developer.mozilla.org/fr/docs/Web/HTTP"&gt;</span>Lien vers mon site<span class="balise">&lt;/a&gt;</span>
</div>

{# BOUTON #}
<div class="droppable ml-6" id="droppable8">   
</div>
<div class="solution4 hide text-white ml-6">
     <span class="balise">&lt;button type="button"&gt;</span>Envoyer
    <span class="balise">&lt;/button&gt;</span>
</div>

{# /DIV #}
<div class="solution4 hide ml-5">
    <span class="balise">&lt;/div&gt;</span>
</div>

{# /BODY #}
<div class="solution4 hide">
    <span class="balise">&lt;/body&gt;</span>
</div>

{# /HTML #}
<div class="solution4 hide">
    <span class="balise">&lt;/html&gt;</span>
</div>


{% endblock %}


{% block trophy %}
{% endblock %}

{% block apercu %}

<html>
    <head>
        <title>Exercice 3</title>
    </head>
<body>
    <div>
        <h1 class="hide" id="success1">Page de contact</h1>

        <p class="hide" id="success2"> Vous pouvez me joindre :</p>
    
        <a class="hide" id="success3" href="mailto:drag@learn.com">Envoyer un mail</a>

        <br class="hide" id="success4">
  
        <a class="hide" id="success5" href="tel:+123456789">Telephone</a>

        <br>

        <hr>

        <a  class="hide" id="success6"href="https://drag_learn.com">Lien vers mon site</a>
        
        <br class="hide" id="success7">

    <button class="hide" id="success8" type="button"> Envoyer</button>

    </div>
</body>
</html>


{% endblock %}


{% block javascriptsExt %}
     <script src={{ asset('js/niveaux/1/n1e3.js')}}></script>
{% endblock %}