{% extends 'exercice/html.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/1/n1e4.css') }}">{% endblock %}



{% block lecons %}
{# consigne : TODO
    -Dans cette exercice vous allez devoir deplacer les balises <img> dans la zone correspondante en associant les bons attributs
attention il est parfois nessecaire de completer les balises avant de les positionner
#}

    <div>
        <ul class="text-white">
            <br>
            <li>L’insertion d’images en HTML va se faire au moyen de l’élément HTML <span class="balise">&lt;img&gt;</span>.</li>
            <br>
            <li>Au sein de l’élément <span class="balise">&lt;img&gt;</span> , nous allons obligatoirement devoir préciser deux attributs : les attributs <span class="baliseCss">src</span> et <span class="baliseCss">alt</span>.</li>
            <br>
            <li>L’attribut <span class="baliseCss">src</span> (pour source) va prendre comme valeur l’adresse de l’image (adresse relative ou absolue) tandis que l’attribut <span class="baliseCss">alt</span> (pour alternative) va contenir un texte alternatif décrivant l’image. <span class="baliseCss">alt</span> designe le texte qui va être affiché si l’image ne peut pas l’être pour differentes raisons et sert également au lecteur d’écran pour les personnes non voyantes.
            </li>
            <br>
            <li>L’attribut <span class="baliseCss">src</span> fonctionne de la même maniere  que <span class="baliseCss">href</span> pour un lien.</li>
            <br>
            <li>Il est également possible d’utiliser une source dite 'absolue' provenant d’un autre site, par exemple : https://www.pierre-giraud.com/html-css/cours-complet/imgs/attributs-src-alt-image-html.png
            </li>
            <br>
            <li>Vous pouvez essayer avec n’importe quelle image sur le web, cela fonctionnera. Cependant, faites attention à bien récupérer l’URL complète de l’image. Notez également qu'il est généralement déconseillé d'utiliser des images provenant d'autres sites car si ces sites les suppriment, elles ne s'afficheront plus non plus sur le vôtre.</li>
            <br>
            <li>Vous pouvez aussi ajouter un attribut  <span class="baliseCss">title</span> aux images, pour fournir un supplément d’information si nécessaire.
            </li>
            <br>
            <li>La liste des attributs possibles <a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/HTML/Element/Img#Attributs">ici </a></li>
            <br>
            
        </ul>
    </div>

    {# TODO 
        ASTUCE : <li>la documentation complete <a target="_blank" href="https://developer.mozilla.org/fr/docs/Apprendre/HTML/Multimedia_and_embedding/Images_in_HTML">ici </a> </li>
     #}

{% endblock %}

{% block astuces %}{% endblock %}

{% block solution %}
    <img src="{{ asset('uploads/solutions/tuto.gif')}}" class = "" alt="solution">
{% endblock %}


{% block elements %}
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->

    {# false #}
    <div class="draggable text-center" data-id="3" id="draggable3">
        <span class="balise">&lt;img  
            <span class="baliseCss">src</span>=<span class="baliseTxt">"placehold.it/250x250"</span><span class="baliseCss"> titre</span>=<span class="baliseTxt">"image source externe"</span><span class="baliseCss"> alt</span>=<span class="baliseTxt">"image avec source externe"</span>&gt;</span>
    </div>
    <br>
    
    {# true custom #}
    <div class="draggable text-center" data-id="7" id="draggable7">
        <span class="balise">&lt;img <span class="baliseCss">src</span>=<span class="baliseTxt">"<input id="src" type="text" placeholder="taper ici...">" </span><span class="baliseCss"> title</span>=<span class="baliseTxt">"image avec source interne"</span><span class="baliseCss"> alt</span>=<span class="baliseTxt">"image avec source interne"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="2" id="draggable2">
        <span class="balise">&lt;image  <span class="baliseCss">source</span>=<span class="baliseTxt">"https://placehold.it/250x250"</span> <span class="baliseCss"> title</span>=<span class="baliseTxt">"image source externe"</span> <span class="baliseCss"> alt</span>=<span class="baliseTxt">"image avec source externe"</span>&gt;</span>
    </div>
    <br>

    {# false custom #}
    <div class="draggable text-center" data-id="4" id="draggable4">
        <span class="balise">&lt;img <span class="baliseCss">src</span>=<span class="baliseTxt">"<input id="p1" type="text" placeholder="taper ici...">"</span> <span class="baliseCss"> src</span>=<span class="baliseTxt">"https://placehold.it/250x250"</span> <span class="baliseCss"> title</span>=<span class="baliseTxt">"image avec source interne"</span> <span class="baliseCss">alt</span>=<span class="baliseTxt">"image avec source interne"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="1" id="draggable1">
        <span class="balise">&lt;img  <span class="baliseCss">src</span>=<span class="baliseTxt">"https://placehold.it/250x250"</span> <span class="baliseCss">title</span>=<span class="baliseTxt">"image avec source interne"</span>&gt;</span>
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="8" id="draggable8">
        <span class="balise">&lt;img  <span class="baliseCss">src</span>=<span class="baliseTxt">"https://plcehld.it/250x250"</span> <span class="baliseCss"> title</span>=<span class="baliseTxt">"image avec une erreur dans la source"</span> <span class="baliseCss"> alt</span>=<span class="baliseTxt">"la source de cette image ne fonctionne pas"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="5" id="draggable5">
        <span class="balise">&lt;img  <span class="baliseCss">src</span>=<span class="baliseTxt">"https://placehold.it/250x250"</span> <span class="baliseCss"> title</span>=<span class="baliseTxt">"image avec une erreur dans la source"</span> <span class="baliseCss"> alt</span>=<span class="baliseTxt">"la source de cette image ne fonctionne pas"</span>&gt;</span>
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="6" id="draggable6">
        <span class="balise">&lt;img  <span class="baliseCss">src</span>=<span class="baliseTxt">"https://placehold.it/250x250"</span> <span class="baliseCss"> title</span>=<span class="baliseTxt">"image source externe"</span> <span class="baliseCss"> alt</span>=<span class="baliseTxt">"image avec source externe"</span>&gt;</span>
    </div>
    <br>    
    <img src="" alt="">

    


    
{% endblock %}

{% block code %}

<p class="text-white">&lt;!DOCTYPE html&gt;</p>
<!--Devra etre généré si possible en php depuis la BDD des exercice-->


    <div>
        <span class="balise">&lt;html&gt;</span>
    </div>
    
    <div>
        <span class="balise">&lt;head&gt;</span>
    </div>

    <div class="ml-5 text-white">
        <span class="balise">&lt;title&gt;</span>
        Exercice n°4
        <span class="balise">&lt;/title&gt;</span>
    </div>
    
    <div>
        <span class="balise">&lt;/head&gt;</span>
    </div>

    <div>
        <span class="balise">&lt;body&gt;</span>
    </div>
    
    <div>
        <span class="balise ml-5">&lt;div&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;span&gt;</span>
        Une image avec une source externe :
        <span class="balise">&lt;/span&gt;</span>
    </div>

    <div class="ml-6">
        <span class="balise">&lt;div&gt;</span><br>
            <div class="droppable ml-4" id="droppable6"></div>        
            <div class="solution1 hide ml-5"><span class="balise">&lt;img <span class="baliseCss"> src</span>=<span class="baliseTxt">"https://placehold.it/250x250"</span> <span class="baliseCss"> title</span>=<span class="baliseTxt">"image source externe"</span> <span class="baliseCss"> alt</span>=<span class="baliseTxt">"image avec source externe"</span>&gt;</span></div>
        <span class="balise">&lt;/div&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;/div&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;hr&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;div&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;span&gt;</span>
        La source de celle ci comporte une erreur, regarde ce qu'il se passe :
        <span class="balise">&lt;/span&gt;</span>
    </div>

    <div class="ml-6">
        <span class="balise">&lt;div&gt;</span><br>
            <div class="droppable ml-4" id="droppable8"></div> 
            <div class="solution2 hide ml-5"><span class="balise">&lt;img <span class="baliseCss"> src</span>=<span class="baliseTxt">"https://placehld.it/250x250"</span> <span class="baliseCss"> title</span>=<span class="baliseTxt">"image avec une erreur dans la source"</span> <span class="baliseCss"> alt</span>=<span class="baliseTxt">"la source de cette image ne fonctionne pas"</span>&gt;</span></div>       
        <span class="balise">&lt;/div&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;/div&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;hr&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;div&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;span&gt;</span>
        Ton image avec le chemin du fichier correspondant :
        <span class="balise">&lt;/span&gt;</span>
    </div>

    <div class="ml-6">
        <span class="balise">&lt;div&gt;</span><br>
            <div class="droppable ml-4" id="droppable7"></div>
            <div class="solution3 hide ml-5"><span class="balise">&lt;img <span class="baliseCss">src</span>=<span class="baliseTxt">"<span id="srcSolution"></span>"</span> <span class="baliseCss">title</span>=<span class="baliseTxt">"image avec source interne"</span> <span class="baliseCss">alt</span>=<span class="baliseTxt">"image avec source interne"</span>&gt;</span></div>         
        <span class="balise">&lt;/div&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;/div&gt;</span>
    </div>


    <div><span class="balise">&lt;/body&gt;</span></div>

    <div><span class="balise">&lt;/html&gt;</span></div>

{% endblock %}



{% block trophy %}
{% endblock %}

{% block apercu %}



<div class="row">
    <div class="col-12 col-md-12 p-3">
        <span>Une image avec une source externe :</span>
        <div class="justify-content-center d-flex p-3">
            <img id="success6" class="hide" src="https://placehold.it/250x250" title="image source externe" alt="image avec source externe">
        </div>
        <hr>
        <span>La source de celle ci comporte une erreur, regarde ce qu'il se passe :</span>
        <div class="justify-content-center d-flex p-3">
            <img id="success8" class="hide" src="https://placehld.it/250x250" title="image avec une erreur dans la source" alt="la source de cette image ne fonctionne pas">
        </div>
        <hr>
        <span>Ton image avec le chemin du fichier correspondant :</span>
        <div class="justify-content-center d-flex p-3">
            <img id="success7" class="hide" src="" title="image avec source interne" alt="image avec source interne">
        </div>
    </div>
</div>

    




{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/1/n1e4.js')}}></script>
{% endblock %}