{% extends 'exercice/exercice.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/1/n1e2.css') }}">{% endblock %}

{% block lecons %}
<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    asperiores aspernatur
    cum deleniti dolorem harum illo in maiores, natus necessitatibus nesciunt nihil,
    nobis
    officia officiis quas, repellat saepe suscipit voluptatem!</p>
<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    asperiores aspernatur
    cum deleniti dolorem harum illo in maiores, natus necessitatibus nesciunt nihil,
    nobis
    officia officiis quas, repellat saepe suscipit voluptatem!</p>
{% endblock %}


{% block elements %}
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->
    <div class="draggable text-center my-1" data-id="1" id="draggable1">
        <span class="balise">&lt;head&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="5" id="draggable5">
        <span class="balise">&lt;h2&gt;</span>Titre moins important <span class="balise">&lt;/h2&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="2" id="draggable2">
        <span class="balise">&lt;body&gt;</span>
    </div>

    <div class="draggable text-center ml-1" data-id="3" id="draggable4">
        <span class="balise">&lt;div&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="4" id="draggable3">
        <span class="balise">&lt;h1&gt;</span>Titre important <span class="balise">&lt;/h1&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="6" id="draggable6">
        <span class="balise">&lt;br&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="8" id="draggable8">
        <span class="balise">&lt;hr&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="7" id="draggable7">
          <span class="balise">&lt;h3&gt;</span>Titre un peu moins important<span class="balise">&lt;/h3&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="12" id="draggable12">
        <span class="balise">&lt;\br&gt;</span>
    </div>

{% endblock %}

{% block code %}
<p class="text-white">&lt;!DOCTYPE html&gt;</p>
<!--Devra etre généré si possible en php depuis la BDD des exercice-->


    <div>
        <span class="balise">&lt;html&gt;</span>
    </div>

    <div class="droppable" id="droppable1">
     </div> 
       <div class="solution1 hide">
        <span class="balise">&lt;head&gt;</span>
        </div>
    

    <div class="pl-4 text-white">
        <span class="balise">&lt;title&gt;</span>Exercice 2<span class="balise">&lt;/title&gt;</span>
    </div>

    <div class=" text-white">
        <span class="balise">&lt;/head&gt;
        </span>
    </div>
    <div class="droppable" id="droppable2">
        
   </div>
    <div class="solution1 hide">
        <span class="balise">&lt;body&gt;</span>
    </div>
 
    

   

    <div class="droppable ml-5" id="droppable4">
     
    </div>
        <div class="solution2 hide ml-5">
            <span class="balise">&lt;div&gt;</span>
        </div>

    <div class="droppable ml-6" id="droppable3">
    
      </div>  
        <div class="solution2 hide ml-6">
             <span class="balise">&lt;h1&gt;</span>
                Titre important 
             <span class="balise">&lt;/h1&gt;</span>
       

    </div>

    <div class="droppable ml-6" id="droppable6">
       
        <div class="solution6 hide">
        <span class="balise">&lt;br&gt;</span>
        </div>
    </div>


    <div class="droppable ml-6" id="droppable5">
    </div>
        <div class="solution2 hide ml-6">
            <span class="balise">&lt;h2&gt;</span>
            Titre moins important 
            <span class="balise">&lt;/h2&gt;</span>
        </div>
   

    <div class="droppable ml-6 " id="droppable7">
     </div>
        <div class="solution7 hide ml-6 text-white">
              <span class="balise">&lt;h3&gt;</span>Titre un peu moins important<span class="balise">&lt;/h3&gt;</span>
        </div>
   

    <div class="droppable ml-6" id="droppable8">
     </div> 
       <div class="solution8 hide ml-7 ">
            <span class="balise">&lt;hr&gt;</span>
        </div>
    <div class="ml-5">
    <div >
        <span class="balise">&lt;/div&gt;</span>
    </div>
    </div>

    <div>
        <span class="balise">&lt;/body&gt;</span>
    </div>

    <div>
        <span class="balise">&lt;/html&gt;</span>
    </div>



{% endblock %}



{% block trophy %}
{% endblock %}

{% block apercu %}
    <html>
     <head>
        <title>Exercice 2</title>
</head>
    <body>
        <div>
            <h1 class="hide" id="success3"> Titre important :</h1>
            <br class="hide" id="success6">
                <h2 class="hide" id="success5">Titre moins important :</h2>
                <h3 class="hide" id="success7"> Titre un peu moins important</h3>
            <hr class="hide" id="success8">
        </div>
    </body>
    </html>
    


{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/1/n1e2.js')}}></script>
{% endblock %}