{% extends 'exercice/css.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/2/n2e7.css') }}">{% endblock %}

    {% block lecons %}
        <ul class="text-white">
        <br>
            <li> La propriété <span class="propCss">height</span> permet de modifer la hauteur par défaut d'un élément, elle peut prendre des valeurs absolues (en px), relatives (en %)  ou la valeur auto (calculée automatiquement par le navigateur).
            </li>
        <br>
            <li>La propriété <span class="propCss">width</span> permet de modifier la largeur par défaut d'un élément, elle prend le même type de valeurs que la propriété <span class="propCss">height</span>. 
            </li>
        <br>
            <li>La propriété <span class="propCss">background-color</span>, que vous verrez plus en détail dans l'exercice suivant, permet de définir la couleur d'arrière-plan d'un élément.
            </li>

        </ul>
            {% endblock %}


            {% block elements %}


                <br>
                <div class="draggable text-center" data-id="3" id="draggable3">
                 <span class="propCss">background-color: </span><span class="valueCss">red;</span>
             </div>
             <br>
             <div class="draggable text-center" data-id="4" id="draggable4">
         <span class="propCss">height:</span><span> 50%;</span>
            </div>
          <br>
          <div class="draggable text-center" data-id="10" id="draggable10">
            <span class="propCss">with:</span><span> 100%;</span>
        </div>
        <br>
        <div class="draggable text-center" data-id="6" id="draggable6">
            <span class="propCss">background-color: </span><span class="valueCss">green;</span>
        </div>
        <br>
         <div class="draggable text-center" data-id="1" id="draggable1">
                    <span class="propCss">width:</span><span> 200px;</span>
          </div>
        <br>
        <div class="draggable text-center" data-id="9" id="draggable9">
            <span class="propCss">width:</span><span> 50%px;</span>
        </div>
        <br>
        <div class="draggable text-center" data-id="5" id="draggable5">
            <span class="propCss">width:</span><span> 100%;</span>
        </div>
        <br>
        <div class="draggable text-center" data-id="2" id="draggable2">
              <span class="propCss">height:</span><span> 100px;</span>
          </div>


     

 {% endblock %}

 {% block code_html %}

    <span class="text-white">&lt;!DOCTYPE html&gt;</span>
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->
    <div class="text-white">
        <span class="balise">&lt;html&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;head&gt;</span>
    </div>
    <div class="text-white">
        <span class="balise">&lt;title&gt;</span>
        Niveau 2 - Exercice 7
        <span class="balise">&lt;/title&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;/head&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;body&gt;</span>
    </div>
    <div class="ml-5">
        <span class="balise">&lt;div</span>
        <span class="baliseCss">id=</span>
        <span class="baliseTxt">"red"</span>
        <span class="balise">&gt;</span>
    </div>
    <div class="ml-5">
        <span class="balise">&lt;/div&gt;</span>
    </div>

    <div class="ml-5">
        <span class="balise">&lt;div</span>
        <span class="baliseCss">id=</span>
        <span class="baliseTxt">"container"</span>
        <span class="balise">&gt;</span>
    </div>
    <div class="ml-6">
        <span class="balise">&lt;div</span>
        <span class="baliseCss">id=</span>
        <span class="baliseTxt">"green"</span>
        <span class="balise">&gt;</span>
    </div>
    <div class="ml-6">
        <span class="balise">&lt;/div&gt;</span>
    </div>
    <div class="ml-5">
        <span class="balise">&lt;/div&gt;</span>
    </div>

    <div>
        <span class="balise">&lt;/body&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;/html&gt;</span>
    </div>

{% endblock %}

{% block code_css %}

    <div class="text-white">

        <span class="baliseCss">#red</span>{
        <div class="hide">
            width: 50px;
        </div>
        <div class="droppable" id="droppable1"></div>
        <div class="solution1 hide ml-5"><span class="propCss">width:</span><span class="valueCss"> 50px;</span>
        </div>


        <div class="hide">
            height: 50px;
        </div>
        <div class="droppable" id="droppable2"></div>
        <div class="solution1 hide ml-5"><span class="propCss">height:</span><span class="valueCss"> 50px;</span>
        </div>


        <div class="hide">
            background-color: red;
        </div>
        <div class="droppable" id="droppable3"></div>
        <div class="solution1 hide ml-5"><span class="propCss">background-color:</span><span class="valueCss"> red;</span>
        </div>

    }<br><br>       
    <span class="baliseCss">#green</span>{
    <div class="hide">
       height: 100%;
   </div>
   <div class="droppable" id="droppable4"></div>
   <div class="solution2 hide ml-5"><span class="propCss">height:</span><span class="valueCss"> 100%;</span>
   </div>


   <div class="hide">
    width: 50%;
</div>
<div class="droppable" id="droppable5"></div>
<div class="solution2 hide ml-5"><span class="propCss">width: </span><span class="valueCss">50%;</span>
</div>

<div class="hide">
    background-color: green;
</div>
<div class="droppable" id="droppable6"></div>
<div class="solution2 hide ml-5"><span class="propCss">background-color:</span><span class="valueCss"> green;</span>
</div>
} 

<br><br>
<span class="baliseCss">#container</span>{
<div class="ml-5">
    <span class="propCss">width:</span><span class="valueCss">200px;</span>
    <br>
    <span class="propCss">height:</span><span class="valueCss">200px;</span><br>
    <span class="propCss">border:</span><span class="valueCss">2px</span>
    <span class="propCss"> solid black;</span>
</div>
}


</div>

{% endblock %}


{% block trophy %}
{% endblock %}

{% block apercu %}

    <div id="red">

    </div>
    <div id="container">
       <div id="green">
       </div>
   </div>

   <button id="next" hidden>Niveau suivant -></button>
{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/2/n2e7.js')}}></script>
{% endblock %}