{% extends 'exercice/html.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/1/n1e7.css') }}">{% endblock %}



{% block lecons %}

    {# consigne TODO
        - dans cette exercice vous allez devoir placer les balises ‘input’ correspondante au label.
    #}
    <div>
        <ul class="text-white">
            <br>
            <li>Les formulaires vont nous permettre de recueillir des informations envoyées par nos utilisateurs. Nous allons par exemple utiliser des formulaires HTML pour créer des formulaires d’inscription, des formulaires de contact, etc.</li>
            <br>
            <li>un formulaire ce place entre les deux balise <span class="balise">&lt;form&gt;&lt;/form&gt;</span></li>
            <br>
            <li>Les formulaires vont être l’occasion pour nous d’aborder de nombreux éléments html. Voici la liste des type d’input que nous allons aborder dans la partie suivante :</li>
            <br>
            <li><span class="balise">&lt;input</span>  <span class="baliseCss"> name</span>=<span class="baliseTxt">"*correspond au label*"</span> <span class="baliseCss">type</span>=<span class="baliseTxt">"*correspond au type d’input*"</span><span class="balise">&gt;</span></li>
            <br>
            <li><span class="baliseCss">type</span>=<span class="baliseTxt">"Password"</span> -> Definit un champ pour un mot de passe</li>           
            <br>
            <li><span class="baliseCss">type</span>=<span class="baliseTxt">"checkbox"</span> -> Definit une case a choix multiple</li>
            <br>
            <li><span class="baliseCss">type</span>=<span class="baliseTxt">"text"</span> -> Definit un champ de texte</li>
            <br>
            <li><span class="baliseCss">type</span>=<span class="baliseTxt">"radio"</span> -> Definit une case a choix unique</li>
            <br>
            <li><span class="baliseCss">type</span>=<span class="baliseTxt">"email"</span> -> Definit un champ d’email</li>
            <br>
            <li><span class="baliseCss">type</span>=<span class="baliseTxt">"date"</span> -> Definit un champ pour choisir une date</li>
            <br>
            <li><span class="balise">&lt;textarea&gt;</span> permet de creer une zone de texte plus grande (la taille de la boite de texte peut etre modifier avec la souris)</li>
            <br>
            <li>
                <span class="balise">&lt;select&gt;</span><br>
                    <span class="balise ml-4">&lt;option&gt;</span> option n°1<span class="balise">&lt;/option&gt;</span><br>
                    <span class="balise ml-4">&lt;option&gt;</span> option n°2<span class="balise">&lt;/option&gt;</span><br>
                    <span class="balise ml-4">&lt;option&gt;</span> option n°3<span class="balise">&lt;/option&gt;</span><br>
                <span class="balise">&lt;/select&gt;</span><br><br>
                <span class="balise">&lt;select&gt;</span> Permet la creation d'une liste deroulante avec differentes option determiner par la balise <span class="balise">&lt;option&gt;</span>
            </li>
            <br>
            <li>la liste complete des types d'input <a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input#Les_diff%C3%A9rents_types_de_champs_%3Cinput%3E">ici </a> </li>

            
        </ul>
    </div>
        {# TODO
            astuce : <li>la documentation complete <a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input">ici </a> </li>
        
         #}
{% endblock %}


{% block elements %}
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->

    

    {# false #}
    <div class="draggable text-center" data-id="1" id="draggable1">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"text"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"text"</span>&gt;</span>
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="2" id="draggable2">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"texte"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"text"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="3" id="draggable3">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"texte"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"texte"</span>&gt;</span>
    </div>
    <br>    

    {# false #}
    <div class="draggable text-center" data-id="4" id="draggable4">
        <span class="balise">&lt;input  <span class="baliseCss">nom</span>=<span class="baliseTxt">"email"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"email"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="5" id="draggable5">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"email"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"mail"</span>&gt;</span>
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="6" id="draggable6">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"email"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"email"</span>&gt;</span>
    </div>
    <br>    

    {# true #}
    <div class="draggable text-center" data-id="8" id="draggable8">
        <span class="balise">&lt;textarea  <span class="baliseCss">name</span>=<span class="baliseTxt">"zone_de_texte"</span>&gt;</span>
        <span class="balise">&lt;/textarea&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="9" id="draggable9">
        <span class="balise">&lt;textzone  <span class="baliseCss">name</span>=<span class="baliseTxt">"zone_de_texte"</span>&gt;</span>
        <span class="balise">&lt;/textzone&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="0" id="draggable0">
        <span class="balise">&lt;textarea  <span class="baliseCss">name</span><span class="baliseTxt">"zone_de_texte"</span>&gt;</span>
        <span class="balise">&lt;/textarea&gt;</span>
    </div>
    <br>

    

    {# true #}
    <div class="draggable text-center" data-id="10" id="draggable10">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"date"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"date"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="11" id="draggable11">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"date"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"dates"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="12" id="draggable12">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"dates"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"date"</span>&gt;</span>
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="13" id="draggable13">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"mot_de_passe"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"password"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="14" id="draggable14">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"password"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"password"</span>&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="15" id="draggable15">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"mot_de_passe"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"passeword"</span>&gt;</span>
    </div>
    <br>    

    {# false #}
    <div class="draggable text-center" data-id="16" id="draggable16">
        <span class="balise">&lt;select <span class="baliseCss">name</span>=<span class="baliseTxt">"selecteur"</span>&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°1</span>
            <span class="balise">&lt;/option&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°2</span>
            <span class="balise">&lt;/option&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°3</span>    
            <span class="balise">&lt;/option&gt;</span><br>

        <span class="balise">&lt;/select&gt;</span>
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="17" id="draggable17">
        <span class="balise">&lt;select <span class="baliseCss">name</span>=<span class="baliseTxt">"select"</span>&gt;</span><br>
            <span class="balise">&lt;options&gt;</span>
            <span>option n°1</span>
            <span class="balise">&lt;/options&gt;</span><br>
            <span class="balise">&lt;options&gt;</span>
            <span>option n°2</span>
            <span class="balise">&lt;/options&gt;</span><br>
            <span class="balise">&lt;options&gt;</span>
            <span>option n°3</span>    
            <span class="balise">&lt;/options&gt;</span><br>

        <span class="balise">&lt;/select&gt;</span>
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="18" id="draggable18">
        <span class="balise">&lt;select <span class="baliseCss">name</span>=<span class="baliseTxt">"selecteur"</span>&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°1</span>
            <span class="balise">&lt;/option&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°2</span>
            <span class="balise">&lt;/option&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°3</span>    
            <span class="balise">&lt;/option&gt;</span><br>

        <span class="balise">&lt;/select&gt;</span>
    </div>
    <br>    

    {# false #}
    <div class="draggable text-center" data-id="19" id="draggable19">
        <span class="balise">&lt;input  <span class="baliseCss">nom</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"radio"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"radio"</span>&gt;</span>        
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="20" id="draggable20">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"case"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"case"</span>&gt;</span>        
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="21" id="draggable21">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"radio"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"radio"</span>&gt;</span>        
    </div>
    <br>

    {# true #}
    <div class="draggable text-center" data-id="22" id="draggable22">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiple"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"checkbox"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiple"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"checkbox"</span>&gt;</span>        
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="23" id="draggable23">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiples"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"checkbox"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiples"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"checkbox"</span>&gt;</span>        
    </div>
    <br>

    {# false #}
    <div class="draggable text-center" data-id="24" id="draggable24">
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiples"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"check"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiples"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"check"</span>&gt;</span>        
    </div>
    <br>  
    
{% endblock %}

{% block code %}

<p class="text-white">&lt;!DOCTYPE html&gt;</p>
<!--Devra etre généré si possible en php depuis la BDD des exercice-->


    <div>
        <span class="balise">&lt;html&gt;</span>
    </div>
    
    <div>
        <span class="balise">&lt;head&gt;</span>
    </div>

    <div class="ml-5 text-white">
        <span class="balise">&lt;title&gt;</span>
        Exercice n°7
        <span class="balise">&lt;/title&gt;</span>
    </div>
    
    <div>
        <span class="balise">&lt;/head&gt;</span>
    </div>

    <div>
        <span class="balise">&lt;body&gt;</span>
    </div>
    
    <div>
        <span class="balise ml-5">&lt;form&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"texte"</span>&gt;</span>
    Texte
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>

    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable2"></div>
    </div>
    <div class="solution1 hide ml-6"><span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"texte"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"text"</span>&gt;</span></div> 

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"email"</span>&gt;</span>
    Email
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>

    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable6"></div>
    </div>
    <div class="solution2 hide ml-6"><span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"email"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"email"</span>&gt;</span></div>

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"zone_de_texte"</span>&gt;</span>
    Zone de texte
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>

    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable8"></div>
    </div>
    <div class="solution3 hide ml-6"><span class="balise">&lt;textarea  <span class="baliseCss">name</span>=<span class="baliseTxt">"zone_de_texte"</span>&gt;</span>
        <span class="balise">&lt;/textarea&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"date"</span>&gt;</span>
    Date
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>

    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable10"></div>
    </div>
    <div class="solution4 hide ml-6"><span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"date"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"date"</span>&gt;</span></div>

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"mot_de_passe"</span>&gt;</span>
    Mot de passe
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>

    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable13"></div>
    </div>
    <div class="solution5 hide ml-6"><span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"mot_de_passe"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"password"</span>&gt;</span></div>

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"selecteur"</span>&gt;</span>
    Liste déroulante
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>   


    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable18"></div>
    </div>
    <div class="solution6 hide ml-6 text-white"><span class="balise">&lt;select <span class="baliseCss">name</span>=<span class="baliseTxt">"selecteur"</span>&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°1</span>
            <span class="balise">&lt;/option&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°2</span>
            <span class="balise">&lt;/option&gt;</span><br>
            <span class="balise">&lt;option&gt;</span>
            <span>option n°3</span>    
            <span class="balise">&lt;/option&gt;</span><br>

        <span class="balise">&lt;/select&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

     <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"choix_unique"</span>&gt;</span>
    Choix unique
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>

    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable21"></div>
    </div>
    <div class="solution7 hide ml-6"><span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"radio"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_unique"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"radio"</span>&gt;</span> 
    </div>

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;label <span class="baliseCss">for</span>=<span class="baliseTxt">"choix_multiple"</span>&gt;</span>
    Choix multiple
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div>
        <span class="balise ml-6">&lt;br&gt;</span>
    </div>

    <div class="ml-6">        
        <div class="droppable ml-4" id="droppable22"></div>
    </div>
    <div class="solution8 hide ml-6"><span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiple"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"checkbox"</span>&gt;</span><br>
        <span class="balise">&lt;input  <span class="baliseCss">name</span>=<span class="baliseTxt">"choix_multiple"</span> <span class="baliseCss"> type</span>=<span class="baliseTxt">"checkbox"</span>&gt;</span> 
    </div>

    <div>
        <span class="balise ml-6">&lt;hr&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;button&gt;</span>
        Envoyer
        <span class="balise">&lt;/button&gt;</span>
    </div>

    <div>
        <span class="balise ml-5">&lt;/form&gt;</span>
    </div>

    <div><span class="balise">&lt;/body&gt;</span></div>

    <div><span class="balise">&lt;/html&gt;</span></div>

{% endblock %}



{% block trophy %}
{% endblock %}

{% block apercu %}



<div class="row">
    <div class="col-12 col-md-12 p-3">
        {# <form action="#" method="#"> #}
            <label for="texte">Texte</label>
            <br>
            <input id="success2" class="hide" name="texte" type="text">
            <hr>
            <label for="email">Email</label>
            <br>
            <input id="success6" class="hide" name="email" type="email">
            <hr>
            <label for="zone_de_texte">Zone de texte</label>
            <br>            
            <textarea id="success8" class="hide" name="zone_de_texte" ></textarea>
            <hr>
            <label for="date">Date</label>
            <br>
            <input id="success10" class="hide" name="date" type="date">
            <hr>
            <label for="mot_de_passe">Mot de passe</label>
            <br>
            <input id="success13" class="hide" name="mot_de_passe" type="password">
            <hr>
            <label for="selecteur">Liste déroulante</label>
            <br>
            <select id="success18" class="hide" name="selecteur">
                <option>option n°1</option>
                <option>option n°2</option>
                <option>option n°3</option>
            </select>
            <hr>
            <label for="choix_unique">Case choix unique</label>
            <br>
            <div id="success21" class="hide">
                <input class="cleaner_input" name="choix_unique" type="radio">
                <input class="cleaner_input" name="choix_unique" type="radio">                
            </div>
            
            <hr>
            <label for="choix_multiple">Case choix multiple</label>
            <br>
            <div  id="success22" class="hide">                
                <input class="cleaner_input" name="choix_multiple" type="checkbox">
                <input class="cleaner_input" name="choix_multiple" type="checkbox">
            </div>
            
            <br>
            <button>Envoyer</button>
        {# </form> #}
    </div>
</div>

    




{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/1/n1e7.js')}}></script>
{% endblock %}